<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqO-d3VEA25NtHl2lA1N7F0k-OnvJ-nWg</string>
	<key>GCM_SENDER_ID</key>
	<string>1025208201333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IremSever.DynamicDesigns</string>
	<key>PROJECT_ID</key>
	<string>dynamicdesign-remoteconfig</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamicdesign-remoteconfig.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025208201333:ios:e331e14e8ec9aaa267483c</string>
</dict>
</plist>